#[submodule "vendor/plugins/restful_authentication"]
 #      path = vendor/plugins/restful_authentication
  #     url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/blueprint-css"]
	path = vendor/plugins/blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/acts_as_rateable"]
	path = vendor/plugins/acts_as_rateable
	url = git://github.com/azabaj/acts_as_rateable.git
[submodule "vendor/plugins/blueprint-plugin---tabs"]
        path = vendor/plugins/blueprint-plugin---tabs
        url = git://github.com/Montoya/blueprint-plugin---tabs.git
[submodule "vendor/plugins/http_accept_language"]
        path = vendor/plugins/http_accept_language
        url = git://github.com/iain/http_accept_language.git
[submodule "vendor/plugins/live-validations"]
        path = vendor/plugins/live-validations
        url = git://github.com/augustl/live-validations.git
