<%= render :partial => "/organisms/header" %>
<div class="searchBox">
  <div class="searchBoxBlack">
    <div class="searchBoxWhite">
      <% form_tag organism_comments_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag t('comments.comments_organism_search.Search'), :name => nil %>
      <% end %>
    </div>
  </div>
</div>

