
  <% form_for(@comment, :url => url_for_even_polymorphic(@comment)) do |f| %>

    <p>
      Edit the comment:<br />
      <%= fckeditor_textarea(:comment, :text, :toolbarSet => 'Comment', :width => '80%', :height => '200px') %>
    </p>

    <%= f.submit 'Update' %>


  <% end %>
