<%= render :partial => @search_comments_header %>
<div class="commentaireListHeader">
  <%= render :partial => "form" %>
</div>
<%= render :partial => "list" %>
<div class="pagination">
  <%= will_paginate(@comments) %>
</div>

