<div class="organismHeader">
  <div class="organismHeaderImage">
    <%= display_organism_cover(@organism, :thumb) %>
  </div>
  <div class="organismHeaderRight">
    <div class="organismHeaderTitle">
       <h3><%=h @organism.name %></h3>
    </div>
    <div class="organismHeaderNotation">
       <%= render :partial => "rating/rating", :locals => { :current_object => @organism } %>
    </div>
  </div>

</div>

<%= render :partial => "/organisms/sub_header" %>