<div id="terms-calendar">
  <div id="spinner-cal">
   <!--<img id ="yop" src="/images/spinner.gif" alt="Refreshing calendar" />-->
   <%= image_tag "spinner.gif", :class => "image", :alt => "refreshing calendar" %>
  </div>
  <div id="the-cal">
  <%= events_calendar_display %>
  </div>
</div>