    <% if current_user && current_user.facebook_user? && facebook_session %>
      <p>
        <%= link_to 'Publish the event on my Facebook', url_for(:controller => 'facebook', :event_id =>@event.id, :user_id => current_user.id, :action => 'publish_object_on_wall') %>
      </p>
    <% end %>
    <% if current_user %>
      <p>
        <%= link_to 'Tell your friends', share_event_path %>
      </p>
    <% end %>