  <% if @user == current_user %>
    <hr />
    <h4 class="caps">INVITE YOUR FRIENDS</h4>
    <% @to_display_fb_user.friends[0,30].each do |friend| %>
      <% if !User.facebook_user_accepted_this_app?(friend.uid)  %>
        <div class="span-4">
          <div class ="box">

            <fb:profile-pic uid=<%= friend.uid %> linked="true" ></fb:profile-pic>
            <br /><%= friend.first_name %> <%= friend.last_name %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% end %>
