<%= render :partial => "/users/header" %>
<div class="userShowSearch">
  <% form_tag user_friends_path, :method => 'get' do %>
    <p>
      <%#=  hidden_field_tag 'role', params[:role] %>

      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag t('friends.Search'), :name => nil %>
    </p>
  <% end %>
</div>

<%= render :partial => "/users/users_list" %>
