<% if @category.nil? %> <h3 class="caps">LISTING EVENTS</h3><% end %>


<ul class="tabs">
<li><% if params[:period]=='past'%><%= link_to "Next events coming", get_url_past_or_futur_tab %><% else %>Next events coming<% end %></li>
<li><% if params[:period]!='past'%><%= link_to "Already started or past events", get_url_past_or_futur_tab %><% else %>Already started or past events<% end %></li>
</ul>


