/*
  A grey based theme, inspired by Blinksale and their ColorBurn widget. http://firewheeldesign.com
  
  AUTHOR: Geoffrey Grosenbach http://nubyonrails.com
  
  Colors: 
    dk: 787888
    lt: 4f4f5b
    lter: a8a8a8
    white: ffffff
*/

/* TODO */

.calendar {
    width: 240px;
    padding:0 0 0 0;
    margin:-1px 0 0 0;
    color: white;
    text-align: center;}

.calendar th {width:5px;}

.dayName th {  
  background-color: #fff;
  text-align: center;
  color: #000;
  border-bottom: 1px solid black;
  text-decoration: none;
  padding:0 0 0 0;
  margin:0 0 0 0;
  font-size: 0.7em;}

.day, .specialDay, .weekendDay, .otherMonth, .today, .day_today, .today_today, .specialDay_today, .weekendDay_today, .otherMonth_today  {
  border-right:1px solid #111111;
  border-bottom: 1px solid #111111;
  text-align:center; padding:0 0 0 0; margin:0 0 0 0;
  width:34px;
  height:34px;
  background-color: #fff;
  color: #000;}

thead tr {color: black;}

.monthName th {
  font-weight: normal;
  padding-top: 1em;
  padding-bottom: 0.7em;}

.previousMonth, .nextMonth{
    padding: 10px 5px 3px 5px;}

.monthName{background: #fff; text-align:center; font-weight:bold; color: #000;}

/*.dayName tr { height: 20px;}*/
.dayName td { width: 40px;}

.weekendDay {background-color: #ffb500;}

/*  sdfdfssdf*/
.tbody {width:21px; background: red;}

/* Jours mois précédent*/
.otherMonth {
  /*color: #999999;*/
  background-color: #ffeaaf;
  color:#000}

.numberEvent{
    font-size: 0.9em;
    text-align: center;
    color: red;
    background: transparent;
    position: absolute;
    text-align:right;
    margin: -7px 0 0 20px;
    z-index:1;}

.dayEvent{position: relative; z-index: 0; }

.specialDay a, .specialDay a:visited {
  color: black;
  text-align: center;
  background: transparent;
  font-weight: bold;
  text-decoration: none; 
  display: block;
  position: relative;}

.specialDay a:hover{color:#fff; 
                    background: #ffb500;}

/*selected day*/
.today {
	background-color: #ffb500;
        text-align: center;
        font-weight: bold;
	color: #fff;}


/*Real TODAY*/
.day_today, .today_today, .specialDay_today, .weekendDay_today, .otherMonth_today  {
	background-color: #fff;
        text-align: center;
        font-weight: bold;
	color: #ffb500;}
