<div class="information">
<h2>Comment ça marche: LeBounce Asso</h2>
<p>LeBounce est une association qui a pour objectif d'injecter de l'enthousiasme
  et de dynamiser l'espace socio culturel de la région Angevine.<br />
Pour cela, nous avons mis en place ce site Internet. Il permet à tout individu
de s'informer vis à vis des évènements passés et à venir. Chacun est invité à le
consulter et à intervenir en commentant, notant ou partageant des informations.<br /></p>
<p>LeBounce n'a pas pour objectif d'être éditeur de contenu. Nous préférons favoriser
  une participation collective et des actions démocratiques. Ainsi nous garantissons
  une objectivité du contenu.
</p>
<p> Pour cela nous permettons à chaque acteur de la vie socio-culturelle de proposer
  du contenu et d'enregistrer des évènements. Si vous êtes liés à une association
  ou un commerce ou tout autre organisme organisant des actions ou événements,
  vous êtes invité à participer. Vous augmentez ainsi votre visibilité et améliorez
  votre communication en publiant sur la page d'accueil vos différentes actions.
</p>
<h2>Comment publier un événement</h2>
<h3>Etape 1: connectez-vous</h3>
<ul>
  <li>Si ce n'est pas déjà fait, nous vous invitons <%= link_to "à vous connecter",  login_path, :target => 'blank' %></li>
  <li>Vous pouvez dors et déjà intéragir avec le contenu: commenter, noter, poster des photos, indiquer vos engagements ...</li>
</ul>
<h3>Etape 2: Trouvez votre organisme ou enregistrez le</h3>
<ul>
  <li>Vérifiez que votre organisme n'est pas déjà référencé en effectuant une recherche
  sur <%= link_to "cette page",  activities_path, :target => 'blank' %></li>
  <li>Si votre organisme a déjà été référencé, cliquez sur le bouton pour devenir membre,
    sur la page de Profil. Indiquez le mot de passe admin si vous le connaissez
   (envoyé par courrier ou email). Vous deviendrez alors automatiquement administrateur de votre organisme.
  Dans le cas contraire, écrivez nous afin qu'on vous l'envoie: <a href="mailto:lebounceasso[at]gmail.com">contacter</a></li>
  <li>Si vous ne trouvez pas votre organisme, <%= link_to "enregistrez le ", new_organism_path, :target => 'blank' %> en trois clics !
  Vous devenez alors automatiquement administrateur. Vous pouvez commencer à personnaliser la page,
  ajouter des galeries photos, créer des billets dans votre blog, et bien plus encore.
  Vous recevrez dans la journée un email confirmant l'activation de l'organisme par un modérateur du site.
  Ceci vous permetra de publier des événements qui apparaitront sur la page d'accueil du site.</li>
  <li>Pensez à diffuser et partager l'adresse Internet de votre organisme et ainsi à en faire la publicité.
  Ainsi les Internautes pourront se tenir informer de votre actualité, des évènements que vous organisez, vous
  écrire ou donner leur avis !
  </li>
</ul>
<h3>Etape 3: Publiez un événement</h3>
<ul>
  <li>Une fois votre organisme créé et activé, vous pouvez <%= link_to 'publier vos évènements', new_event_path, :target => 'blank' %></li>
  <li>Personnalisez à loisir votre évènement, ajouter des photos, éditez le, commentez le.
  Vous pouvez même rédiger des billets dans son blog.</li>
  <li>Diffusez l'adresse Internet de l'évènement et recevez automatiquement par email des informations
  concernant l'intérêt qu'il suscite.</li>
</ul>
<h2>Pourquoi de la publicité ?</h2>
<p>LeBounce est une association loi 1901. Le fonctionnement de ce site Internet engendre
des charges. La publicité est un moyen d'obtenir des revenues qui servent
à payer les charges et divers fournitures nécessaires.<br />
Un simple clic sur une publicité, c'est nous aidez dans notre travail en soutenant financièrement notre action !</p>
<h2>Soutenez-nous</h2>
<p>Nous sommes toujours heureux de recevoir des remarques et réactions à propos de notre travail.<br />
N'hésitez donc pas à <a href="mailto:lebounceasso[at]gmail.com">nous contacter</a><br />
Si vous rencontrez un ou des problèmes avec le site, faites le nous savoir!<br />
Nous vous en remercions d'avance.</p>
</div>