<div class="userHeader">
  <div class="userHeaderImage">
    <%= display_user_cover(@user, :thumb) %>
  </div>
  <div class="userHeaderRight">
    <h1><%= get_user_name_or_pseudo_link_by_id(@user.id) %></h1>
  </div>
</div>

<%= render :partial => "/users/sub_header" %>