<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "facebook_status_bean.html" %>


<%#*<div class="span-11 last">%>
  <%# if @status_message!=" " %>
    <%#*<h4 class="caps">%>
      <%#= t('users.show.Last_status') %>
    <%#*</h4>%>
    <%#*<div class ="box">%>
      <%#= @status_message %>
      <%#*<fb:time t='%>
      <%#= @status_time %>'
      <%#*preposition="true" >%>
      <%#*</fb:time>%>
    <%#*</div>%>
<%#*</div>%>
  <%# end %>