
<% if @event.contributions.size > 0 %>

  <div class="eventShowBodyCenter">
    <% if @event.organizers.size > 0 %>
    <div class="eventShowBodyCenterLeft">
    <div class="titleorganisateurs"></div>
      <div class="eventShowBodyCenterLeftContent">
      <% @event.organizers.each do |@organism| %>
        <div class="eventShowBodyCenterContentLeft">
          <%= display_organism_cover(@organism, :thumb) %>
        </div>
        <div class="eventShowBodyCenterContentRight">
          <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
        </div>
      <% end %>
      </div>
    </div>
    <% end %>
    <% if @event.partners.size > 0 %>
      <div class="eventShowBodyCenterRight">
        <div class="titlepartners"></div>
        <div class="eventShowBodyCenterRightContent">
          <% @event.partners.each do |@organism| %>
          <div class="eventShowBodyCenterContentLeft">
            <%= display_organism_cover(@organism, :thumb) %>
          </div>
          <div class="eventShowBodyCenterContentRight">
            <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
<%  end %>