<div class="eventHeader">
  <div class="eventHeaderImage">
    <%= display_event_cover(@event, :thumb) %>
  </div>
  <div class="eventHeaderRight">
    <div class="eventHeaderTitle">
      <% if @term%>
        <% url_profile = url_for_even_polymorphic(@term) %>
      <% else %>
        <% url_profile = url_for(@event) %>
      <% end %>
      <h3><%= link_to(@event.name, url_profile) %></h3>
   
    </div>
    <div class="eventHeaderNotation">
      <%= render :partial => "rating/rating", :locals => { :current_object => @event } %>
    </div>
  </div>

</div>

<%= render :partial => "/events/sub_header" %>