<div class="eventHeader">
  <div class="eventHeaderImage">
    <%= display_event_cover(@event, :thumb) %>
  </div>
  <div class="eventHeaderRight">
    <div class="eventHeaderTitle">
      <h3><%=h @event.name %></h3>
    </div>
    <div class="eventHeaderNotation">
      <%= render :partial => "rating/rating", :locals => { :current_object => @event } %>
    </div>
  </div>

</div>

<%= render :partial => "/events/sub_header" %>