<p>Then you can try again to publish the organism on your Facebook Wall, by clicking on this link: <br />
<%= link_to 'Publish the organism on my Wall', url_for(:controller => 'facebook', :organism_id =>@organism.id, :user_id => current_user.id, :action => 'publish_object_on_wall') %></p>