<p>Then you can try again to publish the gallery on your Facebook Wall, by clicking on this link: <br />
<%= link_to 'Publish the gallery on my Wall', url_for(:controller => 'facebook', :gallery_id =>@gallery.id, :user_id => current_user.id, :action => 'publish_object_on_wall') %></p>