<p><%= t('facebook.wall_permissions_for_event.Summary') %>
<%= link_to t('facebook.wall_permissions_for_event.Publish_event_on_wall'), url_for(:controller => 'facebook', :gallery_id =>@gallery.id, :user_id => current_user.id, :action => 'publish_object_on_wall') %></p>