<%= render :partial => "/events/header" %>
<h3 class="caps">STEP 1</h3>
<p>In order to publish information on your Facebook account, you must allow some extended permission from the current website<br />
  You can change your mind at any time.<br />
  <%= fb_prompt_permissions(['publish_stream'], 'Please, click on this link to proceed') %>...
</p>

<h3 class="caps">STEP 2</h3>
<p>Then you can try again to publish the event on your Facebook Wall, by clicking on this link: <br />
<%= link_to 'Publish the event on my Wall', url_for(:controller => 'facebook', :id =>@event.id, :user_id => current_user.id, :action => 'publish_event_on_wall') %></p>

