  
  <h5><%= t('posts.form.Title') %></h5>
  <p>
    <%= f.text_field :name, :class => 'title' %>
  </p>

  <h5><%= t('posts.form.Message') %></h5>

    <%= fckeditor_textarea(:post, :text_long, :toolbarSet => 'Blog', :width => '100%x', :height => '400px') %>
