  
<h5><%= t('posts.form.Title') %></h5>
  <p>
    <%= f.text_field :name, :class => 'title' %>
  </p>

  <h5><%= t('posts.form.Message') %></h5>
  <p>
    <%= fckeditor_textarea(:post, :text_long, :toolbarSet => 'Blog', :width => '100%', :height => '400px') %>
  </p>