<%= render :partial => @header_partial %>
<div class="blogBody">
  <div class="blogContent">
    <%= render :partial => "/posts/posts_list" %>

    <% if @parent_object.is_user_moderator?(current_user) %>
      <div class="newPost">
        <%= link_to 'New post', new_polymorphic_path([@parent_object, :post].flatten) %>
      </div>
    <% end %>
  </div>
</div>