<div class="galleriesHeader">
  <div class="galleriesHeaderTitle">
    <h3><%= link_to(@gallery.name, url_for_even_polymorphic(@gallery)) %></h3>
  </div>
  <div class="galleriesHeaderImage">
    <%= display_gallery_cover(@gallery, :small) %>

  </div>
  <div class="galleriesHeaderNotation">
    <%= render :partial => "rating/rating", :locals => { :current_object => @gallery } %>
  </div>
  <div class="galleriesHeaderRight">
      <script type="text/javascript">
      var addthis_config = {
        services_compact: 'email, facebook, twitter,live, hotmail, gmail, favorites, myspace, blogger, bloggy, yahoomail, print, printfriendly, pdfonline, more',
        services_exclude: 'print'
      }
    </script>
    <!-- AddThis Button BEGIN -->

    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=lebounce"></script>
    <!-- AddThis Button END -->

    </ br>

    <a href="http://www.addthis.com/bookmark.php?v=250&amp;pub=lebounce"
       class="addthis_button"><img
        src="http://s7.addthis.com/static/btn/v2/lg-share-fr.gif"
        width="125" height="16" border="0" alt="Share" /></a>
    </div>
</div>
