<div class="picture">
<% fields_for "gallery[picture_attributes][]", picture do |p| %>
  <p>
    <%= p.label :attached %><br />
    <%= p.file_field :attached, :index => nil %>
    <%#= p.file_field :attached %>
    <%= link_to_function "delete", "remove_field($(this), ('.picture'))" %>
  </p>
<% end %>
</div>