<div class="categorie">
 <h3 class="caps"><%=h @category.name %></h3>
 <b>Description:</b>
    <%=h @category.description %>
</div>

<%= render :partial => "terms_sub_header" %>
<%= render :partial => "/terms/terms_list" %>

