<div class="searchBody">
<%= render :partial => 'header' %>



<% if @terms %>
  <%= render :partial => '/terms/terms_list' %>
<% end %>

<% if @organisms %>
  <%= render :partial => '/organisms/organisms_list' %>
<% end %>

<% if @users %>
  <%= render :partial => '/users/users_list' %>
<% end %>

</div>