<div class="searchBody">
<%= render :partial => 'header' %>



<% if params[:focus]=='terms' %>
  <%= render :partial => '/terms/terms_list' %>
<% end %>

<% if params[:focus]=='organisms' %>
  <%= render :partial => '/organisms/organisms_list' %>
<% end %>

<% if params[:focus]=='users' %>
  <%= render :partial => '/users/users_list' %>
<% end %>

</div>