<div id="results">
  <div class="activitiesBody">
    <% @activities.each do |activity| %>
      <div class="activities">
        <div class="activitie">
          <% if activity.organisms.size>0 %>
            <h4><%= link_to(activity.name, activity) %> (<%= activity.organisms.size %>) </h4>

          <% else %>
            <h4><%= activity.name %></h4>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @activities, :params => {:anchor => "top" }  %>
</div>