<div class="activitiesList">
<h1><%=h @activity.name %></h1>
<div class="activitiesListBack">
  <%= link_to t('activities.show.Back'), activities_path %>
</div>
</div>
<div class="organismListContent">
  <%= render :partial => "/organisms/organisms_list" %>
</div>



