<div class="activitiesList">
<h2 class="caps"><%=h @activity.name %></h2>
<div class="activitiesListBack">
  <%= link_to t('activities.show.Back'), activities_path %>
</div>
</div>

<%= render :partial => "/organisms/organisms_list" %>


